<mat-toolbar>
  <button mat-icon-button aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
    <div class="brand-header">
      <img src="assets/logo.png" alt="Company logo">
      <h1 >Frontend Engine</h1>
    </div>
    <nav>
      <a routerLink="/home" routerLinkActive="active">Home        </a>
      <a routerLink="/about" routerLinkActive="active">About </a>
      <a routerLink="/portfolio" routerLinkActive="active">Our Work </a>
      <a routerLink="/products" routerLinkActive="active">Products  </a>
      <a routerLink="/contact" routerLinkActive="active">Contact </a>
    </nav>
  </mat-toolbar>
