<mat-card class="mat-elevation-z5">
    <mat-card-title> Want to estimate a project?
    </mat-card-title>
    <mat-card-subtitle>
        Just tell us about your project, what are your goals, and let's start.
    </mat-card-subtitle>
    <mat-card-content>
        <form name="contact" [formGroup]="FormData" (ngSubmit)="onSubmit()">
            <mat-form-field appearance="outline">
                <label for="contacts-form-name">Your name</label>
                <input matInput type="text" formControlName="name" placeholder="John Doe" [value]="name" name="name">
                <mat-icon matSuffix>text_rotation_none</mat-icon>
            </mat-form-field>
        
            <mat-form-field appearance="outline">
                <label for="contacts-form-email">Email</label>
                <input matInput type="email" formControlName="email" placeholder="john@doe.com" [value]="email" name="email">
                <mat-icon matSuffix>alternate_email</mat-icon>
            </mat-form-field>
        
            <mat-form-field appearance="outline">
                <label for="contacts-form-message">Message</label>
                <textarea matInput formControlName="message" placeholder="I'd like to get an estimate on a project"
                    [value]="message" name="message"></textarea>
                <mat-icon matSuffix> mail_outline</mat-icon>
                <mat-hint> Feel free to attach any links for reference </mat-hint>
            </mat-form-field>
        
            <button mat-raised-button class="submit-button-contacts" type="submit" [disabled]="!FormData.valid">Submit</button>
        </form>

    </mat-card-content>
    </mat-card>
