<div class="title"><h1>What we help with:</h1></div>
<div class="parent">

<div class="cardContainer inactive">
    <div class="card" >
      <div class="side front">
        <div class="img img1"></div>
        <div class="info">
          <h2>Modern websites</h2>
          <p> The internet has global audience and if your business still doesn't have a website then get started today! </p>
        </div>
      </div>
      <div class="side back">
        <div class="info">
          <h2> Design & development </h2>

          <ul>
            <li>Take control of your content and monitor growth on your own </li>
            <li> UI / UX solutions & recommendations for tech stack  </li>
            <li> Immediate help available if you're stuck on any issue </li>
            <li><b> Get your website built as per specifications & modern tooling available today </b> </li>
          </ul>
          <div class="btn">
           <a class="button" routerLink="/contact"> <h4> Contact </h4> </a>
            <svg fill="#333" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M8.59 16.34l4.58-4.59-4.58-4.59L10 5.75l6 6-6 6z"/><path d="M0-.25h24v24H0z" fill="none"/></svg>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="cardContainer inactive">
    <div class="card">
      <div class="side front">
        <div class="img"><img class="img" src="../../../../assets/tutor.png" alt=""></div>
        <div class="info">
          <h2>Tutoring</h2>
          <p> Start learning how to code! Code is law in 2022 & our world currently runs on this law. </p>
        </div>
      </div>
      <div class="side back">
        <div class="info">
          <h2>Become a code ninja </h2>
      
          <ul>
            <li>From zero to hero course. Available for beginners who have no prior experience in coding </li>
            <li>Learn the concepts of programming through learning java </li>
            <li> Completion certificate! Stored on the blockchain forever! </li>
            <li> <b>  Master the concepts by completing a mini project which you can show off in your github! </b> </li>
          </ul>
          <div class="btn" routerLink="/tutoring">
            <a class="button" routerLink="/tutoring"><h4>Learn More</h4></a>
            <svg fill="#333" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M8.59 16.34l4.58-4.59-4.58-4.59L10 5.75l6 6-6 6z"/><path d="M0-.25h24v24H0z" fill="none"/></svg>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="cardContainer inactive">
    <div class="card">
      <div class="side front">
        <div ><img class="img" src="../../../../assets/success.png" alt=""></div>
        <div class="info">
          <h2>Mentoring</h2>
          <p>Confused which direction to take? how to get started? Stuck somewhere? Get help today based on your situation </p>
        </div>
      </div>
      <div class="side back">
        <div class="info">
          <h2>Grow your career fast! </h2>
          <ul>
            <li>
              insight to keep yourself motivated, some things need to be done. Don't act upon it too late.
            </li>
            <li>
              Learn ow to think like a developer & also how to be patient while solving bugs :)
            </li>
            <li>
              How to build your reputation & beat your fellow competition (Linkedin & Github tips)
            </li>
            <li>
           <b>   Interview training! Get trained from the best to navigate job markets. Know what's expected out of you! </b>
            </li>
          </ul>
          <div class="btn" routerLink="/mentoring">
            <a class="button" routerLink="/mentoring"><h4>Learn More</h4></a>
            <svg fill="#333" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M8.59 16.34l4.58-4.59-4.58-4.59L10 5.75l6 6-6 6z"/><path d="M0-.25h24v24H0z" fill="none"/></svg>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

  
