<meta name="viewport" content="width=device-width,initial-scale=1"/>

<mat-toolbar class="mat-elevation-z8">
  <button
    mat-icon-button
    *ngIf="sidenav.mode === 'over'"
    (click)="sidenav.toggle()"
  >
    <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
    <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
  </button>
  <a class="mainName" routerLink="/home"> <button mat-button><h4>ᖴᖇOᑎTEᑎᗪ EᑎGIᑎE</h4></button> </a>
  <span class="spacer"></span>
  <a class="frontend-engine-links hide-sm" routerLink="/tutoring"> <button mat-button><h5>Tutoring</h5></button> </a>
  <a class="frontend-engine-links hide-sm" routerLink="/mentoring"> <button mat-button><h5>Mentoring</h5></button> </a>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav mode="side" opened #sidenav="matSidenav" class="mat-elevation-z8">
    <img
      class="avatar mat-elevation-z8"
      src="../assets/FE-logo.png"
    />

    <p class="designation"> Your gateway to code.</p>

    <mat-divider></mat-divider>

    <button mat-button class="menu-button" routerLink="/home">
      <mat-icon>home</mat-icon>
      <span>Home</span>
    </button>
    <!-- <button mat-button class="menu-button" routerLink="/portfolio">
      <mat-icon>person</mat-icon>
      <span>Our Work</span>
    </button> -->
    <!-- <button mat-button class="menu-button" routerLink="/about">
      <mat-icon>info</mat-icon>
      <span>About</span>
    </button> -->
    <!-- <button mat-button class="menu-button" routerLink="/products">
      <mat-icon>person</mat-icon>
      <span>Products</span>
    </button> -->
    <button mat-button class="menu-button" routerLink="/mentoring">
      <mat-icon>local_library</mat-icon>
      <span>Mentoring</span>
    </button>
    <button mat-button class="menu-button" routerLink="/tutoring">
      <mat-icon>person_pin</mat-icon>
      <span>Tutoring</span>
    </button>
    <button mat-button class="menu-button" routerLink="/contact">
      <mat-icon>calendar_today</mat-icon>
      <span>Contact</span>
    </button>
    <button mat-button class="menu-button" routerLink="/blog">
      <mat-icon>chrome_reader_mode</mat-icon>
      <span>Blog</span>
    </button>

    <mat-divider></mat-divider>

    <button mat-button class="menu-button" routerLink="/contact">
      <mat-icon>help</mat-icon>
      <span>Help</span>
    </button>
  </mat-sidenav>
  <mat-sidenav-content>
      <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>


