<div class="title"><h1>Mentoring for Undergraduate / Graduate Students in Computer Science</h1></div>
<div class="parent">
    <div class="child">
        <mat-card class="mat-elevation-z8 card">
            <mat-list>
                <div class="title" mat-subheader><h2>Consulting Outcomes</h2></div>
                <mat-list-item >
                  <mat-icon matListItemIcon>code</mat-icon>
                  <div matListItemTitle>Outcome 1</div>
                </mat-list-item>
                <mat-list-item >
                    <mat-icon matListItemIcon>code</mat-icon>
                    <div matListItemTitle>Outcome 2</div>
                  </mat-list-item>
                  <mat-list-item >
                    <mat-icon matListItemIcon>code</mat-icon>
                    <div matListItemTitle>Outcome 3</div>
                  </mat-list-item>
                  <mat-list-item >
                    <mat-icon matListItemIcon>code</mat-icon>
                    <div matListItemTitle>Outcome 4</div>
                  </mat-list-item>
                  <mat-list-item >
                    <mat-icon matListItemIcon>code</mat-icon>
                    <div matListItemTitle>Outcome 5</div>
                  </mat-list-item>
                  
            </mat-list>
        </mat-card>
        
    </div>
    <div class="child">
        <mat-card class="mat-elevation-z8 card">
            <mat-list>
                <div class="title" mat-subheader><h2>When do you need mentoring?</h2></div>
                <mat-list-item >
                  <mat-icon matListItemIcon>grade</mat-icon>
                  <div matListItemTitle>Reason 1</div>
                </mat-list-item>
                <mat-list-item >
                    <mat-icon matListItemIcon>grade</mat-icon>
                    <div matListItemTitle>Reason 2</div>
                  </mat-list-item>
                  <mat-list-item >
                    <mat-icon matListItemIcon>grade</mat-icon>
                    <div matListItemTitle>Reason 3</div>
                  </mat-list-item>
                  <mat-list-item >
                    <mat-icon matListItemIcon>grade</mat-icon>
                    <div matListItemTitle>Reason 4</div>
                  </mat-list-item>
                  <mat-list-item >
                    <mat-icon matListItemIcon>grade</mat-icon>
                    <div matListItemTitle>Reason 5</div>
                  </mat-list-item>
                  
            </mat-list>
        </mat-card>
        
    </div>
</div>
<div class="column"><h1>Not Sure? Get Enrolled in <a class="demo" href="" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/frontendengine/30min'});return false;">Demo mentoring session</a></h1></div>
<div class="mat-elevation-z8 mainParent">
    <h1 class="title">Meet our Mentor</h1>
    <div class="intro">
        <div class="introC">
            <img
                class="avatar"
                src="../../assets/hrishi.jpeg"
            />
            <div class="name">
                <h2 class="name">Hrishikesh <br> Fullstack Developer </h2>
            </div>
        </div>
        <div class="introP">
            <mat-list-item >
                <mat-icon matListItemIcon>done_all</mat-icon>
                <div matListItemTitle>Intoduction 1</div>
              </mat-list-item>
              <mat-list-item >
                  <mat-icon matListItemIcon>done_all</mat-icon>
                  <div matListItemTitle>Intoduction 2</div>
                </mat-list-item>
                <mat-list-item >
                  <mat-icon matListItemIcon>done_all</mat-icon>
                  <div matListItemTitle>Intoduction 3</div>
                </mat-list-item>
                <mat-list-item >
                  <mat-icon matListItemIcon>done_all</mat-icon>
                  <div matListItemTitle>Intoduction 4</div>
                </mat-list-item>
                <mat-list-item >
                  <mat-icon matListItemIcon>done_all</mat-icon>
                  <div matListItemTitle>Intoduction 5</div>
                </mat-list-item>
        </div>
    </div>
</div>


<div class="parent1">
    <div class="child1">
        <mat-card class=" mat-elevation-z8 card">
            <mat-list>
                <div class="title" mat-subheader><h2>Mentoring Pricing</h2></div>
                <mat-list-item >
                  <mat-icon matListItemIcon>info</mat-icon>
                  <div matListItemTitle>Session and Price 1</div>
                  <div matListItemLine>Session outcome</div>
                </mat-list-item> 
                <mat-list-item >
                    <mat-icon matListItemIcon>info</mat-icon>
                    <div matListItemTitle>Session and Price 2</div>
                    <div matListItemLine>Session outcome</div>
                  </mat-list-item> 
                  <mat-list-item >
                    <mat-icon matListItemIcon>info</mat-icon>
                    <div matListItemTitle>Session and Price 3</div>
                    <div matListItemLine>Session outcome</div>
                  </mat-list-item> 
                  <mat-list-item >
                    <mat-icon matListItemIcon>info</mat-icon>
                    <div matListItemTitle>Session and Price 4</div>
                    <div matListItemLine>Session outcome</div>
                  </mat-list-item>  
            </mat-list>
        </mat-card>
        
    </div>
    <div class="child2">
        <mat-card class="mat-elevation-z8 card">
            <img class="imga" src="../../assets/mentoring.png" >
        </mat-card>
        
    </div>
</div>



<div class="mat-elevation-z8 bookMeeting">
  <!-- <h1 class="title">Book your session here!!</h1>
      
       <div >
         
      <div class="calendly-inline-widget" data-url="https://calendly.com/frontendengine/tutoring" style="min-width:320px;height:750px;"></div> -->


    

<a class="book" href="" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/frontendengine/tutoring'});return false;"><h1>Book your session today!!</h1></a>
  
</div>


