<div class="title"><h1>Mentoring for Undergraduate / Graduate Students in Computer Science</h1></div>
<div class="parent">
    <div class="child">
        <mat-card class="mat-elevation-z8 card">
            <mat-list>
                <div class="title" mat-subheader><h2>Learnings from the sessions </h2></div>
                <mat-list-item matTooltip="A deeper awareness of the corporate world you're stepping in" >
                  <mat-icon matListItemIcon style="color: red;">code</mat-icon>
                  <div matListItemTitle>A deeper awareness of the corporate world you're stepping in </div>
                </mat-list-item>
                <mat-list-item matTooltip="Become ready one mini project at a time, small steps, big leap.">
                    <mat-icon matListItemIcon style="color: red;">code</mat-icon>
                    <div matListItemTitle>Become ready one mini project at a time, small steps, big leap.</div>
                  </mat-list-item>
                  <mat-list-item matTooltip="Learn how to handle interview questions">
                    <mat-icon matListItemIcon style="color: red;">code</mat-icon>
                    <div matListItemTitle> Learn how to handle interview questions </div>
                  </mat-list-item>
                  <mat-list-item matTooltip="Learn how to debug & solve problems intuitively">
                    <mat-icon matListItemIcon style="color: red;">code</mat-icon>
                    <div matListItemTitle>Learn how to debug & solve problems intuitively</div>
                  </mat-list-item>
                  <mat-list-item matTooltip="Think like a developer">
                    <mat-icon matListItemIcon style="color: red;">code</mat-icon>
                    <div matListItemTitle>Think like a developer </div>
                  </mat-list-item>
                  
            </mat-list>
        </mat-card>
        
    </div>
    <div class="child">
        <mat-card class="mat-elevation-z8 card">
            <mat-list>
                <div class="title" mat-subheader><h2>Why do you need a mentor?</h2></div>
                <mat-list-item matTooltip="Get technical advice on problems that you're stuck on">
                  <mat-icon matListItemIcon style="color: gold;">grade</mat-icon>
                  <div matListItemTitle>Get technical advice on problems that you're stuck on</div>
                </mat-list-item>
                <mat-list-item matTooltip="To learn the why & how of programming instead of google & inshallah ">
                    <mat-icon matListItemIcon style="color: gold;">grade</mat-icon>
                    <div matListItemTitle>To learn the why & how of programming instead of google & inshallah </div>
                  </mat-list-item>
                  <mat-list-item matTooltip="help with building your online portfolio, reputation, trust for companies to hire you">
                    <mat-icon matListItemIcon style="color: gold;">grade</mat-icon>
                    <div matListItemTitle>help with building your online portfolio, reputation, trust for companies to hire you</div>
                  </mat-list-item>
                  <mat-list-item matTooltip="Benefit from the experience of seasoned developers">
                    <mat-icon matListItemIcon style="color: gold;">grade</mat-icon>
                    <div matListItemTitle>Benefit from the experience of seasoned developers </div>
                  </mat-list-item>
                  <mat-list-item matTooltip="Learn fast & grow faster">
                    <mat-icon matListItemIcon style="color: gold;">grade</mat-icon>
                    <div matListItemTitle>Learn fast & grow faster</div>
                  </mat-list-item>
            </mat-list>
        </mat-card>
        
    </div>
</div>
<div class="column"><h1> To get started feel free to <a class="demo" href="" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/rxjshi/30min'});return false;"> book your first session </a></h1></div>
<div class="mat-elevation-z8 mainParent">
    <h1 class="title">Meet our Mentor</h1>
    <div class="intro">
        <div class="introC">
            <img
                class="avatar"
                src="../../assets/hrishi.jpeg"
            />
            <div class="name">
                <h2 class="name">Hrishi <br><small> Javascript Ninja </small></h2>
            </div>
        </div>
        <div class="introP">
            <mat-list-item matTooltip = "Hi everyone, I'm hrishi, I've over 14 years of development experience (primarily javascript)">
                <mat-icon matListItemIcon>done_all</mat-icon>
                <div matListItemTitle>Hi everyone, I'm hrishi, I've over 14 years of development experience (primarily javascript) </div>
              </mat-list-item>
              <mat-list-item matTooltip ="I've been a part of several teams & companies over these years. ">
                  <mat-icon matListItemIcon>done_all</mat-icon>
                  <div matListItemTitle>I've been a part of several teams & companies over these years. </div>
                </mat-list-item>
                <mat-list-item matTooltip="I've solved important problems that most developers willbe facing ahead">
                  <mat-icon matListItemIcon>done_all</mat-icon>
                  <div matListItemTitle>I've solved important problems that most developers willbe facing ahead </div>
                </mat-list-item>
                <mat-list-item matTooltip=" I'm interested in nuturing curious minds & help them grow">
                  <mat-icon matListItemIcon>done_all</mat-icon>
                  <div matListItemTitle> I'm interested in nuturing curious minds & help them grow </div>
                </mat-list-item>
                <mat-list-item matTooltip="I've learnt to be bigger than the company I work at & feel it's important to share this knowledge ">
                  <mat-icon matListItemIcon>done_all</mat-icon>
                  <div matListItemTitle> I've learnt to be bigger than the company I work at & feel it's important to share this knowledge </div>
                </mat-list-item>
        </div>
    </div>
</div>


<div class="parent1">
    <div class="child1">
        <mat-card class=" mat-elevation-z8 card">
            <mat-list>
                <div class="title" mat-subheader><h2>Mentoring Session Info </h2></div>
                <mat-list-item matTooltip="First call is currently at an introductory price $49, we'll meet for about 45/60 mins and discuss the problems you're facing, if required we will also have a follow up session">
                  <mat-icon matListItemIcon>info</mat-icon>
                  <div matListItemTitle>First Session</div>
                  <div matListItemLine>First call is currently at an introductory price $49, we'll meet for about 45/60 mins and discuss the problems you're facing, if required we will also have a follow up session </div>
                </mat-list-item> 
                <mat-list-item matTooltip="We will have follow up sessions based on our first call & decide how many more sessions we need">
                    <mat-icon matListItemIcon>info</mat-icon>
                    <div matListItemTitle>Follow up Sessions</div>
                    <div matListItemLine>We will have follow up sessions based on our first call & decide how many more sessions we need</div>
                  </mat-list-item> 
                  <mat-list-item matTooltip=">We can meet at regular intervals to discuss your next steps & set your roadmap & if you have finished the previous set goals ">
                    <mat-icon matListItemIcon>info</mat-icon>
                    <div matListItemTitle>Semester wide mentoring</div>
                    <div matListItemLine>We can meet at regular intervals to discuss your next steps & set your roadmap & if you have finished the previous set goals </div>
                  </mat-list-item> 
                  <mat-list-item matTooltip="We will set our yearly goals for your growth as a developer, 
                  continue building your github, 
                  linkedin & learning roadmaps so you are ready for your interviews ">
                    <mat-icon matListItemIcon>info</mat-icon>
                    <div matListItemTitle>Yearly mentoring</div>
                    <div matListItemLine>We will set our yearly goals for your growth as a developer, 
                      continue building your github, 
                      linkedin & learning roadmaps so you are ready for your interviews 
                    </div>
                  </mat-list-item>  
            </mat-list>
        </mat-card>
        
    </div>
</div>



<mat-card class="bookMeeting">
<a class="book" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/rxjshi/30min'});return false;"><h1>Book your session today!!</h1></a>
</mat-card>


