<div>
    <h1 class="title">Our Products</h1>
</div>

<div class="center">

    <div class="parent">
        <div class="child">
            <mat-card  class="mat-elevation-z8 size-card">
                <a target="_blank"  href="https://bananaproject.org/"><img  src="../../assets/banana.svg"  class="thumbnail" width="350" height="200"></a>
                
                <a class="link" target="_blank" href="https://bananaproject.org/"><mat-card-title >The Banana Project</mat-card-title></a>
                <mat-card-subtitle class="pad"><p>
                    Let us heal through food & cleanse our minds & use these minds 
                    to heal our ailing world. let us come together to create a community that is solution-oriented, 
                    direct & creates full end to end processes for others to consume & put it up to validate the effectiveness 
                    of the process, craft it, refactor, rebuild to break again, processes that one can follow in everyday 
                    life without having to rely on dieticians, gyms, sometimes dumbbells...
                </p></mat-card-subtitle>
               
              </mat-card>
        </div>
        <div class="child">
            <mat-card  class="mat-elevation-z8 size-card">
                <a target="_blank"  href="https://true-sig.netlify.app/">
                    <img  src="../../assets/truesig.png"  class="thumbnail" width="350" height="200">
                </a>
                
                <a class="link" target="_blank" href="https://true-sig.netlify.app/">
                    <mat-card-title >True Sig</mat-card-title>
                </a>
                <mat-card-subtitle class="pad"><p>Digital signatures, ownership of your documents, get your business running on-chain.</p></mat-card-subtitle>
                
              </mat-card>
        </div>
    
        <div class="child">
            <mat-card  class="mat-elevation-z8 size-card">
                <a target="_blank"  href="https://bettermind360.wordpress.com/"><img  src="../../assets/bettermind360.png"  class="thumbnail" width="350" height="200"></a>
                
                <a class="link" target="_blank" href="https://bettermind360.wordpress.com/"><mat-card-title>Bettermind 360</mat-card-title></a>
                <mat-card-subtitle class="pad"><p>This is an online counseling platform.

                    We often choose to be silent in our difficult times especially when we need someone to talk to & share our feelings with. A mindful ear, humble support & a bit of guidance can give us a better understanding of our present situation.
                    
                    The webiste provideds empathecial listener who understand your problems without any judgment & help you grow in such a way so that you can pick your own battles, prioritize & fight them on your own.</p></mat-card-subtitle>
               
              </mat-card>
    </div>
</div>
