<div class="title"><h1>Take YOUR first step in the exciting world of coding!</h1></div>
<div class="parent">
    <div class="child">
        <mat-card class="mat-elevation-z8 card">
            <mat-list>
                <div class="title" mat-subheader><h2>Course Outcomes</h2></div>
                <mat-list-item >
                  <mat-icon matListItemIcon [ngStyle]="{'color' : 'red'}" >code</mat-icon>
                  <div matListItemTitle matTooltip="Learn basic programming constructs using JAVA">Learn basic programming constructs using JAVA</div>
                </mat-list-item>
                <mat-list-item >
                    <mat-icon matListItemIcon [ngStyle]="{'color' : 'red'}" >code</mat-icon>
                    <div matListItemTitle matTooltip="Learn all OOP (Object Oriented Programming) concepts with examples">Learn all OOP (Object Oriented Programming) concepts with examples</div>
                  </mat-list-item>
                  <mat-list-item >
                    <mat-icon matListItemIcon [ngStyle]="{'color' : 'red'}" >code</mat-icon>
                    <div matListItemTitle matTooltip="Learn application of OOP in BackEnd Development">Learn application of OOP in BackEnd Development</div>
                  </mat-list-item>
                  <mat-list-item >
                    <mat-icon matListItemIcon [ngStyle]="{'color' : 'red'}" >code</mat-icon>
                    <div matListItemTitle matTooltip="Assure an 'A' grade in all JAVA  courses">Assure an 'A' grade in all JAVA  courses</div>
                  </mat-list-item>
                  <mat-list-item >
                    <mat-icon matListItemIcon [ngStyle]="{'color' : 'red'}" >code</mat-icon>
                    <div matListItemTitle matTooltip="Build a strong foundation of coding">Build a strong foundation of coding</div>
                  </mat-list-item>
                  
            </mat-list>
        </mat-card>
        
    </div>
    <div class="child">
        <mat-card class="mat-elevation-z8 card">
            <mat-list>
                <div class="title" mat-subheader><h2>Course Perks!</h2></div>
                <mat-list-item >
                  <mat-icon matListItemIcon [ngStyle]="{'color' : 'gold'}" >grade</mat-icon>
                  <div matListItemTitle matTooltip="No prior knowledge required">No prior knowledge required</div>
                </mat-list-item>
                <mat-list-item >
                    <mat-icon matListItemIcon [ngStyle]="{'color' : 'gold'}">grade</mat-icon>
                    <div matListItemTitle matTooltip="24/7 virtual assistance and in-person assistance on prior booking avaliable">24/7 virtual assistance and in-person assistance on prior booking avaliable</div>
                  </mat-list-item>
                  <mat-list-item >
                    <mat-icon matListItemIcon [ngStyle]="{'color' : 'gold'}">grade</mat-icon>
                    <div matListItemTitle matTooltip="Get a head-start in the real coding world" >Get a head-start in the real coding world</div>
                  </mat-list-item>
                  <mat-list-item >
                    <mat-icon matListItemIcon [ngStyle]="{'color' : 'gold'}">grade</mat-icon>
                    <div matListItemTitle matTooltip="Completion Certificate given after course completion">Completion Certificate given after course completion</div>
                  </mat-list-item>
                  <mat-list-item >
                    <mat-icon matListItemIcon [ngStyle]="{'color' : 'gold'}">grade</mat-icon>
                    <div matListItemTitle matTooltip="Personal in-perrson sessions also availiable on prior booking">Personal in-perrson sessions also availiable on prior booking</div>
                  </mat-list-item>
                  
            </mat-list>
        </mat-card>
        
    </div>
</div>
<div class="column"><h1>Not Sure? Get Enrolled in <a class="demo" href="" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/frontendengine/30min'});return false;">Demo class</a></h1></div>
<div class="mat-elevation-z8 mainParent">
    <h1 class="title">Meet our Instructor</h1>
    <div class="intro">
        <div class="introC">
            <img
                class="avatar"
                src="../../assets/pranav1.jpg"
            />
            <div class="name">
                <h2 class="name">Pranav <br> Fullstack Developer </h2>
            </div>
        </div>
        <div class="introP">
            <mat-list-item >
                <mat-icon matListItemIcon>done_all</mat-icon>
                <div matListItemTitle matTooltip="He is a sophmore student in York University studying Computer Science">He is a sophmore student in York University studying Computer<br> Science</div>
              </mat-list-item>
              <mat-list-item >
                  <mat-icon matListItemIcon>done_all</mat-icon>
                  <div matListItemTitle matTooltip="He has been learning JAVA, Python and C++ since past 2 years and have already worked on live projects">He has been learning JAVA, Python and C++ since past 2 years and<br>  have already worked on live projects</div>
                </mat-list-item>
                <mat-list-item >
                  <mat-icon matListItemIcon>done_all</mat-icon>
                  <div matListItemTitle matTooltip="He is experienced in JAVA backend coding and application building in JAVA">He is experienced in JAVA backend coding and application building<br> in JAVA</div>
                </mat-list-item>
                <mat-list-item >
                  <mat-icon matListItemIcon>done_all</mat-icon>
                  <div matListItemTitle matTooltip="Being cofounder of FrontEnd Engine, he has knnowlege of HTML, CSS and JavaScript">Being cofounder of FrontEnd Engine, he has knnowlege of HTML,<br> CSS and JavaScript</div>
                </mat-list-item>
                <mat-list-item >
                  <mat-icon matListItemIcon>done_all</mat-icon>
                  <div matListItemTitle matTooltip="He has experience in Angular Webpage Development">He has experience in Angular Webpage Development</div>
                </mat-list-item>
        </div>
    </div>
</div>


<div class="par">
    <h1 class="title">Already know basic JAVA ?</h1>
    
    <div class="chi">
        <div><h2>Schedule a meeting with our Instructor to customize your personalized seesions </h2></div>
        <div ><h2><a class="demo" href="" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/frontendengine/customize-your-classes'});return false;">Book a session now!</a></h2></div>
    </div>

</div>

<div class="parent1">
    <div class="child1">
        <mat-card class=" mat-elevation-z8 card">
            <mat-list>
                <div class="title" mat-subheader><h2>Course Pricing</h2></div>
                <mat-list-item >
                  <mat-icon matListItemIcon>info</mat-icon>
                  <div matListItemTitle matTooltip="For a extra demo sessions (Duration : 30 mins )">For a extra demo sessions (Duration : 30 mins )</div>
                  <div matListItemLine>Price : $20 </div>
                </mat-list-item> 
                <mat-list-item >
                    <mat-icon matListItemIcon>info</mat-icon>
                    <div matListItemTitle matTooltip="For 1 personalized session (Duration : 90 mins )">For 1 personalized session (Duration : 90 mins )</div>
                    <div matListItemLine>Price : $40 </div>
                  </mat-list-item> 
                  <mat-list-item >
                    <mat-icon matListItemIcon>info</mat-icon>
                    <div matListItemTitle matTooltip="For 10 sessions (Full Basics Package) (Duration : 90 mins )">For 10 sessions (Full Basics Package) (Duration : 90 mins )</div>
                    <div matListItemLine>Price : $350 </div>
                  </mat-list-item> 
                  <mat-list-item >
                    <mat-icon matListItemIcon>info</mat-icon>
                    <div matListItemTitle matTooltip="For 20 sessions (Full Basic and Advanced Package) (Duration : 90 mins )">For 20 sessions (Full Basic and Advanced Package) (Duration : 90 mins )</div>
                    <div matListItemLine>Price : $700 </div>
                  </mat-list-item>  
            </mat-list>
        </mat-card>
        
    </div>
    <div class="child2">
        <mat-card class="mat-elevation-z8 card">
            <img class="imga" src="../../assets/java.png" >
        </mat-card>
        
    </div>
</div>

<div class="par">
  <h1 class="title">Have problems while coding?</h1>
  
  <div >
      <div class="chi"><h2>Schedule a meeting with our Instructor to troubleshoot your problems and find solutions immediately</h2></div>
      <div ><h2><a class="demo" href="" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/frontendengine/troubleshooting'});return false;">Book a session now!</a></h2></div>
  </div>

</div>

<div>
    <mat-card class="margin mat-elevation-z8">
        <h1 class="title">What will Students Learn?</h1>
        <mat-tab-group animationDuration="1000ms">
             <mat-tab class="learnings" label="Extra Demo Class">
                <mat-list>
                  <mat-list-item >
                    <mat-icon matListItemIcon [ngStyle]="{'color' : 'green'}" >check_circle</mat-icon>
                    <div matListItemTitle matTooltip="Learn basic programming constructs using JAVA">Learn basic programming constructs using JAVA</div>
                  </mat-list-item>
                  <mat-list-item >
                      <mat-icon matListItemIcon [ngStyle]="{'color' : 'green'}" >check_circle</mat-icon>
                      <div matListItemTitle matTooltip="Learn all OOP (Object Oriented Programming) concepts with examples">Learn all OOP (Object Oriented Programming) concepts with examples</div>
                    </mat-list-item>
                    <mat-list-item >
                      <mat-icon matListItemIcon [ngStyle]="{'color' : 'green'}" >check_circle</mat-icon>
                      <div matListItemTitle matTooltip="Learn application of OOP in BackEnd Development">Learn application of OOP in BackEnd Development</div>
                    </mat-list-item>
                    <mat-list-item >
                      <mat-icon matListItemIcon [ngStyle]="{'color' : 'green'}" >check_circle</mat-icon>
                      <div matListItemTitle matTooltip="Assure an 'A' grade in all JAVA  courses">Assure an 'A' grade in all JAVA  courses</div>
                    </mat-list-item>
                    <mat-list-item >
                      <mat-icon matListItemIcon [ngStyle]="{'color' : 'green'}" >check_circle</mat-icon>
                      <div matListItemTitle matTooltip="Build a strong foundation of coding">Build a strong foundation of coding</div>
                    </mat-list-item>
                </mat-list>
             </mat-tab>
            <mat-tab label="1 personalized session">Content to be filled</mat-tab>
             <mat-tab label="10 sessions Package">Content to be filled</mat-tab>
             <mat-tab label="20 sessions Package">Content to be filled</mat-tab>
</mat-tab-group>
    </mat-card>
</div>

<div class="mat-elevation-z8 bookMeeting">
  <!-- <h1 class="title">Book your session here!!</h1>
      
       <div >
         
      <div class="calendly-inline-widget" data-url="https://calendly.com/frontendengine/tutoring" style="min-width:320px;height:750px;"></div> -->


    

<a class="book" href="" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/frontendengine/tutoring'});return false;"><h1>Book your session today!!</h1></a>
  
</div>

