<div class="title"><h1>Take YOUR first step in the exciting world of coding!</h1></div>
<div class="parent">
    <div class="child">
        <mat-card class="mat-elevation-z8 card">
            <mat-list>
                <div class="title" mat-subheader><h2>Course Outcomes</h2></div>
                <mat-list-item >
                  <mat-icon matListItemIcon [ngStyle]="{'color' : 'red'}" >code</mat-icon>
                  <div matListItemTitle matTooltip="Learn basic programming constructs using JAVA">Learn basic programming constructs using Java</div>
                </mat-list-item>
                <mat-list-item >
                    <mat-icon matListItemIcon [ngStyle]="{'color' : 'red'}" >code</mat-icon>
                    <div matListItemTitle matTooltip="Learn all OOP (Object Oriented Programming) concepts with examples">Learn all OOP (Object Oriented Programming) concepts with examples</div>
                  </mat-list-item>
                  <mat-list-item >
                    <mat-icon matListItemIcon [ngStyle]="{'color' : 'red'}" >code</mat-icon>
                    <div matListItemTitle matTooltip="Learn application of OOP in BackEnd Development">Learn application of OOP in BackEnd Development</div>
                  </mat-list-item>
                  <mat-list-item >
                    <mat-icon matListItemIcon [ngStyle]="{'color' : 'red'}" >code</mat-icon>
                    <div matListItemTitle matTooltip="Assure an 'A' grade in all JAVA  courses">Assure a good grades in all Java  courses</div>
                  </mat-list-item>
                  <mat-list-item >
                    <mat-icon matListItemIcon [ngStyle]="{'color' : 'red'}" >code</mat-icon>
                    <div matListItemTitle matTooltip="Build a strong foundation of coding">Build a strong foundation of coding</div>
                  </mat-list-item>
                  
            </mat-list>
        </mat-card>
        
    </div>
    <div class="child">
        <mat-card class="mat-elevation-z8 card">
            <mat-list>
                <div class="title" mat-subheader><h2>Course Perks!</h2></div>
                <mat-list-item >
                  <mat-icon matListItemIcon [ngStyle]="{'color' : 'gold'}" >grade</mat-icon>
                  <div matListItemTitle matTooltip="No prior knowledge required">No prior knowledge required</div>
                </mat-list-item>
                <mat-list-item >
                    <mat-icon matListItemIcon [ngStyle]="{'color' : 'gold'}">grade</mat-icon>
                    <div matListItemTitle matTooltip="24/7 virtual assistance and in-person assistance on prior booking avaliable">24/7 virtual assistance and in-person assistance on prior booking avaliable</div>
                  </mat-list-item>
                  <mat-list-item >
                    <mat-icon matListItemIcon [ngStyle]="{'color' : 'gold'}">grade</mat-icon>
                    <div matListItemTitle matTooltip="Get a head-start in the real coding world" >Get a head-start in the real coding world</div>
                  </mat-list-item>
                  <mat-list-item >
                    <mat-icon matListItemIcon [ngStyle]="{'color' : 'gold'}">grade</mat-icon>
                    <div matListItemTitle matTooltip="Completion Certificate given after course completion">Completion Certificate given after course completion</div>
                  </mat-list-item>
                  <mat-list-item >
                    <mat-icon matListItemIcon [ngStyle]="{'color' : 'gold'}">grade</mat-icon>
                    <div matListItemTitle matTooltip="Personal in-perrson sessions also availiable on prior booking">Personal in-perrson sessions also availiable on prior booking</div>
                  </mat-list-item>
                  
            </mat-list>
        </mat-card>
        
    </div>
</div>
<div class="column"><h1>Not Sure? Get Enrolled in <a class="demo" href="" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/frontendengine/30min'});return false;">Demo class</a></h1></div>
<div class="mat-elevation-z8 mainParent">
    <h1 class="title">Meet our Instructor</h1>
    <div class="intro">
        <div class="introC">
            <img
                class="avatar"
                src="../../assets/pranav1.jpg"
            />
            <div class="name">
                <h2 class="name">Pranav <br> Fullstack Developer </h2>
            </div>
        </div>
        <div class="introP">
            <mat-list-item matTooltip="He is a sophmore student in York University studying Computer Science">
                <mat-icon matListItemIcon>done_all</mat-icon>
                <div matListItemTitle >He is a sophmore student in York University studying Computer Science</div>
              </mat-list-item>
              <mat-list-item matTooltip="He has been learning Java, Python and C++ since past 2 years and have already worked on live projects">
                  <mat-icon matListItemIcon>done_all</mat-icon>
                  <div matListItemTitle >He has been learning Java, Python and C++ since past 2 years and  have already worked on live projects</div>
                </mat-list-item>
                <mat-list-item matTooltip="He is experienced in Java backend coding and application building in JAVA">
                  <mat-icon matListItemIcon>done_all</mat-icon>
                  <div matListItemTitle>He is experienced in Java backend coding and application building in JAVA</div>
                </mat-list-item>
                <mat-list-item matTooltip="Being cofounder of FrontEnd Engine, he has knnowlege of HTML, CSS and JavaScript" >
                  <mat-icon matListItemIcon>done_all</mat-icon>
                  <div matListItemTitle >Being cofounder of FrontEnd Engine, he has knnowlege of HTML, CSS and JavaScript</div>
                </mat-list-item>
                <mat-list-item matTooltip="He has experience in Angular Webpage Development" >
                  <mat-icon matListItemIcon>done_all</mat-icon>
                  <div matListItemTitle >He has experience in Angular Webpage Development</div>
                </mat-list-item>
        </div>
    </div>
</div>


<div class="mat-elevation-z8 mainParent">
  <h1 class="title">Meet our Instructor</h1>
  <div class="intro">
      <div class="introC">
          <img
              class="avatar"
              src="../../assets/prakriti.png"
          />
          <div class="name">
              <h2 class="name">Prakriti <br> Fullstack Developer </h2>
          </div>
      </div>
      <div class="introP">
          <mat-list-item matTooltip="A sophmore student at York University pursuing Bachelor's in Computer Science">
              <mat-icon matListItemIcon>done_all</mat-icon>
              <div matListItemTitle >A sophmore student at York University pursuing Bachelor's in Computer Science</div>
            </mat-list-item>
            <mat-list-item matTooltip="Proficient in Java programming, with experience in web and app development">
                <mat-icon matListItemIcon>done_all</mat-icon>
                <div matListItemTitle >Proficient in Java programming, with experience in web and app development</div>
              </mat-list-item>
              <mat-list-item matTooltip="Worked on projects involving frontend and backend programming">
                <mat-icon matListItemIcon>done_all</mat-icon>
                <div matListItemTitle>Worked on projects involving frontend and backend programming</div>
              </mat-list-item>
              <mat-list-item matTooltip="Academic achievements include President's Award from York University" >
                <mat-icon matListItemIcon>done_all</mat-icon>
                <div matListItemTitle >Academic achievements include President's Award from York University</div>
              </mat-list-item>

      </div>
  </div>
</div>


<div class="par">
    <h1 class="title">Already know basic Java ?</h1>
    
    <div class="chi">
        <div><h2>Schedule a meeting with our Instructor to customize your personalized seesions </h2></div>
        <div ><h2><a class="demo" href="" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/frontendengine/customize-your-classes'});return false;">Book a session now!</a></h2></div>
    </div>

</div>

<div class="parent1">
    <div class="child1">
        <mat-card class=" mat-elevation-z8 card">
            <mat-list>
                <div class="title" mat-subheader><h2>Course Pricing</h2></div>
                <mat-list-item >
                  <mat-icon matListItemIcon>info</mat-icon>
                  <div matListItemTitle matTooltip="For a extra Demo sessions (Duration : 30 mins )">For a Demo sessions (Duration : 30 mins )</div>
                  <div matListItemLine>Price : Free!!! </div>
                </mat-list-item> 
                <mat-list-item >
                    <mat-icon matListItemIcon>info</mat-icon>
                    <div matListItemTitle matTooltip="For 1 personalized session (Duration : 90 mins )">For 1 personalized session (Duration : 90 mins )</div>
                    <div matListItemLine>Price : $40 </div>
                  </mat-list-item> 
                  <mat-list-item >
                    <mat-icon matListItemIcon>info</mat-icon>
                    <div matListItemTitle matTooltip="For 10 sessions (Full Basics Package) (Duration : 90 mins )">For 10 sessions (Full Basics Package) (Duration : 90 mins )</div>
                    <div matListItemLine>Price : $350 </div>
                  </mat-list-item> 
                  <mat-list-item >
                    <mat-icon matListItemIcon>info</mat-icon>
                    <div matListItemTitle matTooltip="For 20 sessions (Full Basic and Advanced Package) (Duration : 90 mins )">For 20 sessions (Full Basic and Advanced Package) (Duration : 90 mins )</div>
                    <div matListItemLine>Price : $700 </div>
                  </mat-list-item>  
            </mat-list>
        </mat-card>
        
    </div>
    <div class="child2">
        <mat-card class="mat-elevation-z8 card">
            <img class="imga" src="../../assets/java.png" >
        </mat-card>
        
    </div>
</div>

<div class="par">
  <h1 class="title">Have problems while coding?</h1>
  
  <div >
      <div class="chi"><h2>Schedule a meeting with our Instructor to troubleshoot your problems and find solutions immediately</h2></div>
      <div ><h2><a class="demo" href="" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/frontendengine/troubleshooting'});return false;">Book a session now!</a></h2></div>
  </div>

</div>

<div>
    <mat-card class="margin mat-elevation-z8">
        <h1 class="title">What will Students Learn?</h1>
        <mat-tab-group animationDuration="1000ms">
             <mat-tab class="learnings" label="Demo Class">
                <mat-list>
                  <mat-list-item >
                    <mat-icon matListItemIcon [ngStyle]="{'color' : 'green'}" >check_circle</mat-icon>
                    <div matListItemTitle matTooltip="Learn the basic concept of JAVA">Learn the basic concept of Java</div>
                  </mat-list-item>
                  <mat-list-item >
                      <mat-icon matListItemIcon [ngStyle]="{'color' : 'green'}" >check_circle</mat-icon>
                      <div matListItemTitle matTooltip="Will help clear concepts mentioned by students">Will help clear concepts mentioned by students</div>
                    </mat-list-item>
                    <mat-list-item >
                      <mat-icon matListItemIcon [ngStyle]="{'color' : 'green'}" >check_circle</mat-icon>
                      <div matListItemTitle matTooltip="Setup your IDE (Eclipse/IntelliJ) and run configurations">Setup your IDE (Eclipse/IntelliJ) and run configurations</div>
                    </mat-list-item>
                    <mat-list-item >
                      <mat-icon matListItemIcon [ngStyle]="{'color' : 'green'}" >check_circle</mat-icon>
                      <div matListItemTitle matTooltip="Create a new Git repository for all your code and learn to push commits">Create a new Git repository for all your code and learn to push commits</div>
                    </mat-list-item>
                </mat-list>
                
             </mat-tab>
             <mat-tab class="learnings" label="1 personalized session">
              <mat-list>
                <mat-list-item >
                  <mat-icon matListItemIcon [ngStyle]="{'color' : 'green'}" >check_circle</mat-icon>
                  <div matListItemTitle matTooltip="Students will get an opportunity to mention portions which they find difficult, and our instructors will guide them through">Students will get an opportunity to mention portions which they find difficult, and our instructors will guide them through</div>
                </mat-list-item>
                <mat-list-item >
                    <mat-icon matListItemIcon [ngStyle]="{'color' : 'green'}" >check_circle</mat-icon>
                    <div matListItemTitle matTooltip="Get your questions answered in live sessions">Get your questions answered in live sessions</div>
                  </mat-list-item>
                  <mat-list-item >
                    <mat-icon matListItemIcon [ngStyle]="{'color' : 'green'}" >check_circle</mat-icon>
                    <div matListItemTitle matTooltip="Learn your desired Java concepts through vivid examples">Learn your desired Java concepts through vivid examples</div>
                  </mat-list-item>
              </mat-list>
           </mat-tab>
           <mat-tab class="learnings" label="10 sessions Package">
            <mat-list>
              <mat-list-item >
                <mat-icon matListItemIcon [ngStyle]="{'color' : 'green'}" >check_circle</mat-icon>
                <div matListItemTitle matTooltip="Learn the basic programming constructs of JAVA">Learn the basic programming constructs of JAVA</div>
              </mat-list-item>
              <mat-list-item >
                  <mat-icon matListItemIcon [ngStyle]="{'color' : 'green'}" >check_circle</mat-icon>
                  <div matListItemTitle matTooltip="Topics covered are data types, development cycle, conditionals, loops, OOP, arrays and array lists">Topics covered are data types, development cycle, conditionals, loops, OOP, arrays and array lists</div>
                </mat-list-item>
                <mat-list-item >
                  <mat-icon matListItemIcon [ngStyle]="{'color' : 'green'}" >check_circle</mat-icon>
                  <div matListItemTitle matTooltip="Build a strong foundation in OOP programming">Build a strong foundation in OOP programming</div>
                </mat-list-item>
                <mat-list-item >
                  <mat-icon matListItemIcon [ngStyle]="{'color' : 'green'}" >check_circle</mat-icon>
                  <div matListItemTitle matTooltip="Assure a good grade in all introductory JAVA courses">Assure a good grade in all introductory JAVA courses</div>
                </mat-list-item>
      
            </mat-list>
         </mat-tab>
         <mat-tab class="learnings" label="20 sessions Package">
          <mat-list>
            <mat-list-item >
              <mat-icon matListItemIcon [ngStyle]="{'color' : 'green'}" >check_circle</mat-icon>
              <div matListItemTitle matTooltip="Dive into the depths of advanced JAVA">Dive into the depths of advanced JAVA</div>
            </mat-list-item>
            <mat-list-item >
                <mat-icon matListItemIcon [ngStyle]="{'color' : 'green'}" >check_circle</mat-icon>
                <div matListItemTitle matTooltip="Topics covered build on the basics of JAVA, from data types, conditionals, iterations and arrays">Topics covered build on the basics of JAVA, from data types, conditionals, iterations and arrays</div>
              </mat-list-item>
              <mat-list-item >
                <mat-icon matListItemIcon [ngStyle]="{'color' : 'green'}" >check_circle</mat-icon>
                <div matListItemTitle matTooltip="Learn advanced OOP concepts with Java, which goes from recursion, inheritance, polymorphism, abstract classes, interfaces and generics, and abstract data types">Learn advanced OOP concepts with Java, which goes from recursion, inheritance, polymorphism, abstract classes, interfaces and generics, and abstract data types</div>
              </mat-list-item>
              <mat-list-item >
                <mat-icon matListItemIcon [ngStyle]="{'color' : 'green'}" >check_circle</mat-icon>
                <div matListItemTitle matTooltip="Develop an overall understanding of JAVA programming and build running high level programs">Develop an overall understanding of JAVA programming and build running high level programs</div>
              </mat-list-item>
              <mat-list-item >
                <mat-icon matListItemIcon [ngStyle]="{'color' : 'green'}" >check_circle</mat-icon>
                <div matListItemTitle matTooltip="Assure a good grade in all JAVA courses">Assure a good grade in all JAVA courses</div>
              </mat-list-item>
          </mat-list>
       </mat-tab>
</mat-tab-group>
    </mat-card>
</div>

<div class="mat-elevation-z8 bookMeeting">
  


    
<div class="book">
  <h1>Book your session today!!</h1>
  <a class="book" href="" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/frontendengine/tutoring'});return false;"><button class="book_session" mat-raised-button>Session with Pranav</button></a> 
  <a class="book" href="" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/prakritisingh/javatutoringprakriti'});return false;" ><button class="book_session" mat-raised-button>Session with Prakriti</button></a> 
</div>
  
</div>

<div class="title mat-elevation-z8 bookMeeting" >
    <h1 >Still have some querries? </h1>
    <h4>Let's have a chat on WhatsApp</h4>  
    <a aria-label="Chat on WhatsApp" href="https://wa.me/14373282883"> <img src="../../assets/whatsapp1.png" ></a>
</div>

<div class="mat-elevation-z8 mainTesti">
  <h1 class="title">Testimonials</h1>
  <!-- <mat-grid-list cols="4" rowHeight="2:1">
    <mat-grid-tile class="testi mat-elevation-z8">
        <div><span class="testipic">&#8220;</span>
        </div>
    </mat-grid-tile>
    <mat-grid-tile class="testi mat-elevation-z8">2</mat-grid-tile>
    <mat-grid-tile class="testi mat-elevation-z8">3</mat-grid-tile>
    <mat-grid-tile class="testi mat-elevation-z8">4</mat-grid-tile>
  </mat-grid-list> -->
  <div class="parentT">
    <mat-card class="childT mat-elevation-z8">
      <div class="textT">
        <p>
          "I had never studied java in my life before I took a class with Pranav, and I was so impressed with the way he explained each idea. Even after my session had ended, he continued to teach me until I understood every idea. - <b>Akshay Mirkute</b>"
        </p>
      </div>
      
    </mat-card>
    <mat-card class="childT mat-elevation-z8">
      <!-- <div><span class="testipic">&#8220;</span></div> -->
      <div class="textT">
        <p>
          "He always gave me his whole attention and made sure that I completed all the exercises he gave me while comprehending the ideas. He treated me like one of his friends, and as a result, I am now able to code in Java without any problems." - <b>Nahian</b>        </p>
      </div>
      
    </mat-card>
    <mat-card class="childT mat-elevation-z8">
      <!-- <div><span class="testipic">&#8220;</span></div> -->
      <div class="textT">
        <p>
          "I attended a few troubleshooting sessions with Pranav and even though he only charged me for one session, we worked on my issues for hours until we found a solution. Highly recommended if you have any coding querries" - <b>Samyak Jain</b>        </p>
      </div>
      
    </mat-card>
    <mat-card class="childT mat-elevation-z8">
      <!--  -->
      <div class="textT">
        <p>
          "I attended a demo session with Prakriti because I'm new to coding and I thought her teaching style was fantastic. She even spoke to me in Hindi, my mother tongue, and I understood every word, which was incredibly helpful." - <b>Aditi Goyal</b>        </p>
      </div>
      
    </mat-card>
  </div>
  
</div>