.title{
    text-align: center;
    
}

.parent{
   
    display: flex;
}

.child{
    margin: 20px;
}

.card{
    
}

.column{
    
    text-align: center;
    background-color: #004a9f;
    color: white;
    width: 100%;
    min-height: 45px;
    padding: 5px;

}

.demo{
    text-decoration: none;
    color: orange;
    
}


.avatar {
    
    width: 200px;
    height: 200px;
    padding: 10px;
    border-radius: 50%;
    background: white;
  }

.mainParent{
    background-color: lightgray;
    padding: 10px;
    margin: 20px;
}
  .intro{
    
    margin: 20px;
    
    
    display: flex;
}

.introC{
    width: 40%;
    
    display: flex;
    align-items: center;
    flex-direction: column;

}

.introP{
    width: 60%;
    margin: auto;
    color: white;
}
.name{
    text-align: center;
}