.title{
    text-align: center;
    text-decoration: none;
    
}

.parent{
   
    display: flex;
    margin: 10px;
}

.child{
    margin: 20px;
    width: 50%;
    overflow: hidden;
    white-space: nowrap;
    
}

.card{
    
}

.column{
    
    text-align: center;
    background-color: #004a9f;
    color: white;
    width: 100%;
    min-height: 45px;
    padding: 5px;

}

.demo{
    text-decoration: none;
    color: orange;
    
    &:hover {
        color: yellow;
    }
    
}


.avatar {
    
    width: 200px;
    height: 200px;
    padding: 10px;
    border-radius: 50%;
    background: white;
  }

.mainParent{
    background-color: lightgray;
    padding: 10px;
    margin: 20px;
}
  .intro{
    
    margin: 20px;
    
    
    display: flex;
}

.introC{
    width: 40%;
    
    display: flex;
    align-items: center;
    flex-direction: column;

}

.introP{
    width: 60%;
    margin: auto;
    color: white;
}
.name{
    text-align: center;
}

.par{
    text-align: center;
    background-color: #004a9f;
    color: white;
    padding: 5px;
    margin: 20px;
    

}

.chi{
    width: 50%;
    margin: auto;
}

.flex{
    display: flex;
}

.imga{
    width: 372px;
    
}

.parent1{
   
    display: flex;
}

.child1{
    margin: 20px;
    width: 70%;
    
}

.child2{
    margin: 20px;
    width: 30%;
    
}

.margin{
    margin: 20px;
    padding: 10px;
    min-height: 500px;
}

.bookMeeting{
    margin: 20px;
    padding: 10px;
    background: white;
}

.book{
    text-align: center;
    text-decoration: none;
    color: black;

    &:hover{
        color: #004a9f;
    }
}

.content{
    word-wrap: break-word;
}

.learnings{
    padding: 10px;
    margin: 10px;
}

@media only screen and (max-width: 768px) {
    .parent {
      flex-direction: column;
    }

    .child {
        width: 100%;
    }

    .intro {
        flex-direction: column;
    }

    .introC {
        width: 100%;
        display: flex;
    }

    .introP {
        width: 100%;
        
    }

    .parent1 {
        flex-direction: column;
    }

    .child1 {
        width: 100%;
        
    }

    .child2 {
        width: 100%;
        
    }
    
  }