<div class="title"><h1>Take YOUR first step in the exciting world of coding!</h1></div>
<div class="parent">
    <div class="child">
        <mat-card class="mat-elevation-z8 card">
            <mat-list>
                <div class="title" mat-subheader><h2>Course Outcomes</h2></div>
                <mat-list-item >
                  <mat-icon matListItemIcon>code</mat-icon>
                  <div matListItemTitle>Learn basic programming constructs using JAVA</div>
                </mat-list-item>
                <mat-list-item >
                    <mat-icon matListItemIcon>code</mat-icon>
                    <div matListItemTitle>Learn all OOP (Object Oriented Programming) concepts <br> with examples</div>
                  </mat-list-item>
                  <mat-list-item >
                    <mat-icon matListItemIcon>code</mat-icon>
                    <div matListItemTitle>Learn application of OOP in BackEnd Development</div>
                  </mat-list-item>
                  <mat-list-item >
                    <mat-icon matListItemIcon>code</mat-icon>
                    <div matListItemTitle>Assure an 'A' grade in all JAVA  courses</div>
                  </mat-list-item>
                  <mat-list-item >
                    <mat-icon matListItemIcon>code</mat-icon>
                    <div matListItemTitle>Build a strong foundation of coding</div>
                  </mat-list-item>
                  
            </mat-list>
        </mat-card>
        
    </div>
    <div class="child">
        <mat-card class="mat-elevation-z8 card">
            <mat-list>
                <div class="title" mat-subheader><h2>Course Perks!</h2></div>
                <mat-list-item >
                  <mat-icon matListItemIcon>grade</mat-icon>
                  <div matListItemTitle>No prior knnowlege requuired</div>
                </mat-list-item>
                <mat-list-item >
                    <mat-icon matListItemIcon>grade</mat-icon>
                    <div matListItemTitle>24/7 virtual assistance and in-person assistance on prior <br> booking avaliable</div>
                  </mat-list-item>
                  <mat-list-item >
                    <mat-icon matListItemIcon>grade</mat-icon>
                    <div matListItemTitle>Get a head-start in the real coding world</div>
                  </mat-list-item>
                  <mat-list-item >
                    <mat-icon matListItemIcon>grade</mat-icon>
                    <div matListItemTitle>Completion Certificate given after course completion</div>
                  </mat-list-item>
                  <mat-list-item >
                    <mat-icon matListItemIcon>grade</mat-icon>
                    <div matListItemTitle>Personal in-perrson sessions also availiable on prior booking</div>
                  </mat-list-item>
                  
            </mat-list>
        </mat-card>
        
    </div>
</div>
<div class="column"><h1>Not Sure? Get Enrolled in <a routerLink="/contact" class="demo">demo class</a></h1></div>
<div class="mat-elevation-z8 mainParent">
    <h1 class="title">Meet our Instructor</h1>
    <div class="intro">
        <div class="introC">
            <img
                class="avatar"
                src="../../assets/pranav1.jpg"
            />
            <div class="name">
                <h2 class="name">Pranav </h2>
                <h3 class="subname">Fullstack Developer</h3>
            </div>
        </div>
        <div class="introP">
            <mat-list-item >
                <mat-icon matListItemIcon>done_all</mat-icon>
                <div matListItemTitle>He is a sophmore student in York University studying Computer<br> Science</div>
              </mat-list-item>
              <mat-list-item >
                  <mat-icon matListItemIcon>done_all</mat-icon>
                  <div matListItemTitle>He has been learning JAVA, Python and C++ since past 2 years and<br>  have already worked on live projects</div>
                </mat-list-item>
                <mat-list-item >
                  <mat-icon matListItemIcon>done_all</mat-icon>
                  <div matListItemTitle>He is experienced in JAVA backend coding and application building<br> in JAVA</div>
                </mat-list-item>
                <mat-list-item >
                  <mat-icon matListItemIcon>done_all</mat-icon>
                  <div matListItemTitle>Being cofounder of FrontEnd Engine, he has knnowlege of HTML,<br> CSS and JavaScript</div>
                </mat-list-item>
                <mat-list-item >
                  <mat-icon matListItemIcon>done_all</mat-icon>
                  <div matListItemTitle>He has experience in Angular Webpage Development</div>
                </mat-list-item>
        </div>
    </div>
</div>



